<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->

<!-- <form action="/:new_word" method="get">
    Dime una palabra:
    <br>
    <input type="text" name="new_word">
    <input type="submit" value="Sacar Anagrama!">
</form>
 -->
<form action="/new_word" method="post">
    Dime una palabra:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Sacar Anagrama!">
</form>